[Unit]
Description=SMTP Proxy

[Container]
Image=ghcr.io/computator/smtp-proxy
AutoUpdate=registry
ContainerName=smtp-proxy

PublishPort=127.0.0.1:25:25
# Environment=NO_NETWORK=true

Environment=MAILNAME=%H
Environment=SMARTHOST=smtp.example.com
Environment=SMARTHOST_PORT=587
Environment=AUTH_USER=smartuser
Environment=AUTH_PASS_FILE=/run/secrets/smtp-proxy-pass

Secret=smtp-proxy-pass

Volume=smtp-proxy-queue:/var/spool/dma
Volume=/usr/local/smtp-proxy-utils:/utils-export

[Install]
WantedBy=multi-user.target
